*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #329bc1;
  user-select: none;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.sidebar-wrapper {
  max-width: 300px;
  min-width: 300px;
  border-radius: 5px;
  background-color: #ffffff;
}

.sidebar {
  padding: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.products-container {
    max-width: 740px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;

}

.products-wrapper {
  display: flex;
}

.product-wrapper-price {
  margin: 10px;
}

.product-card {
    background-color: #e8dada;
    padding: 5px;
    border: 1px solid rgb(94, 53, 169);
    border-radius: 5px;
    cursor: pointer;
}

.product-button {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.product-button:hover {
    background-color: #1b861f;
    transition: background 0.5s ease;
}

.product-price {
    text-align: center;
}

.product-name {
    margin-top: 10px;
    text-align: center;
}